.main-content {
  display: grid;

  grid-template-columns: 3fr 1fr 0.5fr;
  outline: 2px solid black;
  background-color: #e5a776;
  color: #2a231b;
  padding: 20px;
}

.img-container__img {
  display: block;
  inline-size: 100%;
  block-size: auto;
  border: 1px solid black;
  border-color: black;
  border-width: 5px;
}

hr {
  inline-size: 100%;
  block-size: 2px;
  background-color: black;
  margin: 0;
  border-color: black;
}

.info {
  display: grid;

  justify-items: center;
  padding-inline-start: 20px;

  &__hosts {
    font-family: "typoslabserif";
    font-weight: 900;
    margin-block: auto;
    border-inline-start: 1px;
    font-size: 20px;
  }
  &__date {
    font-family: "roboto_slab";
    font-size: 30px;
    margin-block: auto;
  }
  &__title {
    font-size: 35px;
    font-family: "typoslabserif";
    margin-block: auto;
    font-weight: 600;
  }

  .first {
    text-align: center;
  }
  .second {
    font-weight: 900;
  }
  &__price {
    font-family: "roboto_slab";
    font-size: 60px;
    margin-block: auto;
  }
}

.platform {
  display: grid;
  justify-items: center;
  writing-mode: vertical-rl;
  font-family: "roboto_slab";
  padding-block-end: 2rem;

  &__company {
    font-size: 16px;
    margin-block: auto;
    font-weight: 600;
    border-block-start-width: 3px;
    padding-block-end: 15px;
  }

  &__name {
    font-size: 45px;
    margin-inline: 5px;
  }
  &__misc {
    font-weight: bolder;
    font-size: 24px;
  }
  &__date {
    font-size: 32px;
  }
  &__info {
    font-size: 20px;
  }
}
