@font-face {
  font-family: "typoslabserif";
  src: url("../fonts/TypoSlabserif-Light-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_slab";
  src: url("../fonts/RobotoSlab-Bold-webfont.woff");
  font-weight: bold;
}
